<?php
if(isset($this->msg)){
echo $this->msg;    
}else{
//    var_dump($this->products);
    echo "<table>";
    echo "<thead>";
        echo "<th>Product ID</th><th>Category ID</th><th>Product Name</th><th>Product Price</th><th>Product Image</th><th>Product Availability</th>";

        for($i = 0; $i < count($this->products); $i++){
//            unset($this->products[$i]['name']);
//            unset($this->products[$i]['price']);
//            unset($this->products[$i]['available']);
            echo "<tr>";
            foreach ($this->products[$i] as $key => $value) {
                echo "<td>".$value."</td>";
            }
//            echo "<td><a href='".$this->baseUrl()."/users/update/id/".$this->users[$i]['id']."'>Edit</td>";
//            echo "<td><a href='".$this->baseUrl()."/users/delete/id/".$this->users[$i]['id']."'>Delete</a></td>";
            echo "<tr>";
        }
        echo "</table>";
}

?>