<?php
$counter = 1;
//echo '<pre>';
////print_r($this->data);
//..echo '</pre>';
$data = $this->data;
?>
<form method="post">
<span class="input-group date" style="width: 200px">
    <input type="text" class="form-control" name="date1"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
</span>

<span class="input-group date" style="width: 200px">
    <input type="text" class="form-control" name="date2"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
</span>
    <input type="submit" name="find" >
    </form>
<div class="col-lg-6"><div class="panel panel-default">
        <div class="panel-heading">
            <h5>Orders</h5>
        </div>
        <div class="panel-body">
            <table class="table table-condensed" style="border-collapse:collapse;">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($data as $d): ?>                
                        <tr data-toggle="collapse" data-target="#demo<?php echo $counter ?>" class="accordion-toggle">
                            <td>
                                <button class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </button>
                            </td>

                            <td><?php echo $d["date"] ?></td>
                            <td><?php echo $d["action"] ?></td>
                            <td><?php echo $d["total"] ?></td>


                        </tr>

                        <tr>
                            <td colspan="12" class="hiddenRow">
                                <div class="accordian-body collapse" id="demo<?php echo $counter ?>">
                                    <table class="table table-striped">
                                        <th>image</th>
                                        <th>name</th>
                                        <th>price</th>
                                        <th>qty</th>
                                        <?php foreach ($d["product"] as $p): ?>
                                            <tr>
                                                <td>image</td>
                                                <td><?php echo $p["name"] ?></td>
                                                <td><?php echo $p["price"] ?></td>
                                                <td><?php echo $p["qty"] ?></td>
                                            </tr>
                                        <?php endforeach; ?> 
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <?php
                        $counter++;
                    endforeach;
                    $counter = 0;
                    ?>                    

                </tbody>
            </table>  
        </div>    
    </div>

</div>
</table>   
<?php $path = $this->baseUrl() ?>
<script src="<?php echo $path; ?>/date/js/bootstrap-datepicker.min.js"></script>
<script>
    $('.input-group.date').datepicker({
        format: "yyyy-mm-dd",
        startDate: "2014-01-01",
        endDate: "2017-01-01",
        todayBtn: "linked",
        autoclose: true,
        todayHighlight: true
    });
</script>

<link href="<?php echo $path; ?>/date/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css"/>