
<?php
$counter=1;
//echo '<pre>';
////print_r($this->data);
//..echo '</pre>';
$data = $this->data;
?>

    
    <div class="col-lg-6"><div class="panel panel-default">
        <div class="panel-heading">
            <h5>Orders</h5>
        </div>
        <div class="panel-body">
            <table class="table table-condensed" style="border-collapse:collapse;">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Room</th>
                        <th>Ext</th>
                        <th>Status</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
    <?php foreach ($data as $d): ?>                
                    <tr data-toggle="collapse" data-target="#demo<?php echo $counter?>" class="accordion-toggle">
                        <td>
                            <button class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                        </td>
                        <td><?php echo $d["name"]?></td>
                        <td><?php echo $d["date"]?></td>
                        <td><?php echo $d["room"]?></td>
                        <td><?php echo $d["ext"]?></td>
                        <td><?php echo $d["action"]?></td>
                        <td><?php echo $d["total"]?></td>
                        
                      
                    </tr>
                    
                    <tr>
                        <td colspan="12" class="hiddenRow">
                            <div class="accordian-body collapse" id="demo<?php echo $counter?>">
                                <table class="table table-striped">
                                    <th>image</th>
                                    <th>name</th>
                                    <th>price</th>
                                    <th>qty</th>
                                <?php foreach ($d["product"] as $p): ?>
                                    <tr>
                                     <td>image</td>
                                      <td><?php echo $p["name"]?></td>
                                      <td><?php echo $p["price"]?></td>
                                      <td><?php echo $p["qty"]?></td>
                                      </tr>
                                <?php endforeach; ?> 
                                </table>
                            </div>
                        </td>
                    </tr>
<?php
$counter++;
endforeach; 
 $counter=0;
?>                    
                    
                </tbody>
            </table>  
        </div>    
    </div>

</div>
</table>   

  