
<?php
//echo $this->form;
//if (isset($this->data)) {
//    echo $this->data;
//}
$products=$this->products;

?>

<!-- latest Orders-->
<body>
    <div class="col-lg-2">
    </div>

    <div class="col-lg-10">
        <h3>Latest Products</h3>
    </div>


    <div class="col-lg-2">
    </div>
<?php if(!empty($this->latestOrders)): ?> 
    <div class="col-lg-8">
        <div class="row text-center">
<?php foreach ($this->latestOrders as $lo): ?>   

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="<?php echo $lo['image']; ?>" alt="">
                    <div class="caption">
                        <h3><?php echo $lo['name']; ?></h3>
                        <span class="price" id="price"><?php echo $lo['price']; ?></span>
                        <p>
                            <a href="#" class="btn btn-primary" id="<?php echo $lo['image']; ?>">Buy Now!</a> 
                        </p>
                    </div>
                </div>
            </div>

<?php endforeach; ?> 
         </div>
    </div>
<?php endif ; ?> 
    
    
    <div class="col-lg-2">
    </div>
    <!--end of lastest Orders-->


    <div class="col-md-8">
        <?php for ($i=0;$i<count($products);$i+=3): ?> 
        <div class="row">
         <?php for($x=$i;$x<$i+3;$x++): ?>
            <?php if($x<count($products)): ?> 
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="<?php echo $products[$x]['image']; ?>" class="img-rounded" alt="...">
                    <div class="caption">
                        <h3><?php echo $products[$x]['name']?></h3>
                        
                        <span class="price" id="price"><?php echo $products[$x]['price']?> EGP</span>
                        <p><a class="btn btn-primary addToCartbtn" id="<?php echo $products[$x]['name']?>" role="button">Add to cart</a>
                            
                        </p>
                    </div>
                </div>
            </div>
            <?php endif; ?> 
       <?php endfor ?>     
        </div>
    <?php endfor ?>
    </div>

<!--  <div class="row">
            <nav>
                <ul class="pager">
                    <li><a href="#">Previous</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </nav>
        </div>-->


    <div class="col-md-4">
        <br><br>
        <div class="panel panel-default cart-panel">
            <div class="panel-heading">
                <span style="padding:5px" class="pull-left add-right-margin glyphicon glyphicon-shopping-cart" height="20"></span>
                <h3 class="pull-left panel-title">Your Cart</h3>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                
           
<!--                <div id="Car">-->
                    
                    <form method="post" action="" id="Cart">
                       The cart is empty! 
                    <table id="cartTable" class="table table-bordered">

                        <!-- header -->

                        <thead class="well">
                        <td><b>Item</b></td>
                        <td class="tdCenter"><b>Quantity</b></td>
                        <td class="tdRight"><b>Price</b></td>
                        <td />
                        </thead>

                    </table>

                  
             
                <!--</div>-->
                <input id="order" type="submit" name="order" value="order" />
            </form>
            </div>
        </div>
    </div>

</body>

<!-- custom script that add functionality to add btns-->
<?php  $path = $this->baseUrl() ?>
<script src="<?php echo $path; ?>/assets/js/custom.js"></script>

<link href="<?php echo $path; ?>/assets/css/style.css" rel="stylesheet" type="text/css"/>

<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css"/>